# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\lioni\OneDrive - Politecnico di Milano\KEIO\SPRING21\COMPUTER VISION\REPORT\OPENCV-REPORT1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
